/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {String | List | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
    @if is-direction($direction) == false {
        $color-stops: ($direction, $color-stops);
        $direction: 180deg;
    }

    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Icons
@import "~@mdi/font/scss/materialdesignicons";

// Variables

// Initial colors
$red: #b10f2e;
$white: #fdfffe;
$blue: #307cc4;
$black: #02070b;
$grey-darker: #061826;
$grey: #606c74;
$grey-light: #bbc0c3;
$grey-lighter: #e8eaeb;
$green: #59a07a;
$navbar-height: 6rem;

// Brand colors
$primary: $blue;

// Base
$body-size: 14px;
$radius: 2px;

// Typography
$family-sans-serif: "Raleway", sans-serif;
// $family-primary: $family-sans-serif;
// $weight-semibold: 500;
$link: darken($primary, 13%);

// Forms
$control-radius: $radius;

// Dropdown
$dropdown-content-offset: 2px;

@import "bulma";

// Navbar
.navbar {
    background: url('../images/panel_bg.png') repeat 0 0 $dark;
    &:before {
        content: "";
        display: block;

        height: 3px;
        width: 100%;

        position: absolute;
        bottom: 0;

        @include linear-gradient(to right, $blue 0%, $purple 50%, $orange 100%);
    }
}

// Forms
.field:not(:last-child) {
    margin-bottom: 1.5rem;
}

// Sections
.section {
    padding: 1.5rem 1.5rem;
}

.box {
    border-radius: $radius;
}

// Support
.mr-05 {
    margin-right: 0.5rem;
}

.ml-05 {
    margin-right: 0.5rem;
}

.is-aligned-bottom {
    align-items: flex-end;
    display: flex;
}
